img {
    width: 5rem;
    height: 5rem;
    z-index: 8;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0.25rem solid #FFF8F0;
    border-radius: 50%;
}

.menu {
    background-color: #006494;

    p, h1, h2, h3, h4, h5, h6 {
        color: #FFF8F0;
    }
}

hr {
    border-top: 1px solid #FFF8F0;
}

#hero-title {
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.col-3 {
    line-height: 0.1rem;
}

.text-center {
    p {
        font-size: x-large;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .col-md-3 {
        margin-left: 2rem;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1200px) {
    .col-md-3 {
        margin-left: 1rem;
    }
}