<div class="menu">
    <div class="container">
        <div class="row h-100">
            <div class="col-md-1 my-auto">
                <div class="text-center">
                    <img src="{{user.avatar_url}}" *ngIf="user" alt="GitHub avatar" class="center-block" />
                </div>
            </div>
            <div class="col-md-3 my-auto">
                <p id="hero-title">Scott Blechman</p>
                <hr>
                <p>Full-Stack Developer 👨‍💻</p>
            </div>
        </div>
    </div>
</div>